# Git ignore rules for ~/.dotfiles


# Ignore these
*_history
*_local
## vim's swap files
*.sw*
*~

# Do ignore netrw history
vim/dot-vim/.netrwhist

# Ignore all vim modules for now:
vim/dot-vim/pack/plugins/opt/**/*
