[submodule "vim/dot-vim/pack/plugins/opt/gruvbox"]
	path = vim/dot-vim/pack/plugins/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/dot-vim/pack/plugins/opt/markdown-preview.vim"]
	path = vim/dot-vim/pack/plugins/opt/markdown-preview.vim
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "vim/dot-vim/pack/plugins/opt/mru"]
	path = vim/dot-vim/pack/plugins/opt/mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/dot-vim/pack/plugins/opt/vim-startify"]
	path = vim/dot-vim/pack/plugins/opt/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/dot-vim/pack/plugins/opt/vim-surround"]
	path = vim/dot-vim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/dot-vim/pack/plugins/opt/vim-system-copy"]
	path = vim/dot-vim/pack/plugins/opt/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "vim/dot-vim/pack/plugins/opt/vim-rainbow"]
	path = vim/dot-vim/pack/plugins/opt/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
[submodule "vim/dot-vim/pack/plugins/opt/vim-which-key"]
	path = vim/dot-vim/pack/plugins/opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
